<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Registrar Usuarios</h1>
    <form action="/sessions/register" method="post">
      Nombre:
      <input type="text" name="first_name" /><br />
      Apellido:
      <input type="text" name="last_name" /><br />
      email:
      <input type="text" name="email" /><br />
      Edad:
      <input type="number" name="age" /><br />
      password:
      <input type="text" name="password" /><br />
      <input type="submit" value="Crear" />
    </form>
  </body>
</html>