<button onclick="location.href='/api/products'">VOLVER</button>
<form method="POST" action="/api/cart/{{userCart}}/purchase">
  <input type="hidden" name="total" value="{{total}}">
  <button type="submit">FINALIZAR COMPRA</button>
</form>
<div class="card">
  <div class="card-body">
    <p class="card-text">Productos ingresados:
      {{#each carrito}}
        {{this}}
      {{/each}}
    </p>
    <h3>Monto total {{total}}</h3>
  </div>
  </div>
</div>