<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalles del Carrito</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <button
      class="btn btn-primary"
      onclick="location.href='/api/products'"
    >VOLVER</button>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Productos ingresados:
                {{#each carrito}}
                  {{this}}
                {{/each}}
              </p>
              <h3>SUBTOTAL ${{total}}</h3>
            </div>
          </div>
          <div class="text-center mt-3">
            <form method="POST" action="/api/cart/{{userCart}}/purchase">
              <input type="hidden" name="total" value="{{total}}" />
              <button type="submit" class="btn btn-success">FINALIZAR COMPRA</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS (Optional) -->
    <!-- You can include it if you need Bootstrap's JavaScript features -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </body>

</html>