<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{titulo}}</title>
  </head>

  <body>
    <form id="form">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Id</label>
        <input
          type="text"
          class="form-control"
          id="id"
          aria-describedby="emailHelp"
        />
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">titulo</label>
        <input
          type="text"
          class="form-control"
          id="titulo"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">descripcion</label>
        <input
          type="text"
          class="form-control"
          id="descripcion"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">precio</label>
        <input
          type="text"
          class="form-control"
          id="precio"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">categoria</label>
        <input
          type="text"
          class="form-control"
          id="categoria"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">stock</label>
        <input
          type="text"
          class="form-control"
          id="stock"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">status</label>
        <input
          type="text"
          class="form-control"
          id="status"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">imagen</label>
        <input
          type="text"
          class="form-control"
          id="imagen"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">codigo</label>
        <input
          type="text"
          class="form-control"
          id="codigo"
          aria-describedby="emailHelp"
        />
      </div>
      <button type="submit" class="btn btn-primary" id="enviar">Crear</button>
      <button
        type="submit"
        class="btn btn-primary"
        id="modificar"
      >Modificar</button>
      <button
        type="submit"
        class="btn btn-primary"
        id="eliminar"
      >Eliminar</button>
    </form>
    <p id="producto"></p>
  </body>
</html>