<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compra Exitosa</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body class="bg-light">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="text-center">
            <h1 class="mt-4">TU COMPRA FUE REALIZADA CON ÉXITO</h1>
            <h2 class="mt-3">Enviamos a tu correo electrónico el detalle de la
              compra y el monto total.</h2>
          </div>

          <div class="mt-4">
            <h3 class="text-center">Los productos que compraste son:</h3>
            <ul class="list-group text-center">
              {{#each productosComprados}}
                <li class="list-group-item">{{this}}</li>
              {{/each}}
            </ul>
          </div>

          <div class="mt-4 text-center">
            <a href="/api/products" class="btn btn-primary">SEGUIR COMPRANDO</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS (Optional) -->
    <!-- You can include it if you need Bootstrap's JavaScript features -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </body>

</html>